<h1>Log In</h1>
<%= form_for(:session, url: sessions_path) do |f| %>
    <%= f.label :email, "Email" %>
    <%= f.email_field :email, placeholder: "Email" %><br>
    <%= f.label :password, "Password" %>
    <%= f.password_field :password, placeholder: "Password" %><br>
    <%= f.submit "Log In"%>
<% end %>

<% if flash[:errors] %>
  <div>       
    <% flash[:errors].each do |e| %>
      <p><%= e %></p>
    <% end %> 
  </div>
<% end %>

<!-- <div class="logout">
  <% if logged_in? %>
    <%= link_to 'Log Out', sessions_destroy_path   %>
  <% end %>
</div> -->
